@{
    ViewData["Title"] = "MasterPage";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"/>
<link href="~/projectgui/homestyle.css" rel="stylesheet" />
<nav class="sidebar">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="~/ProjectGUI/images/CRYSTAL_MallLogo.png" alt="logo">
            </span>
            <div class="text header-text">
                <span class="name">CRYSTAL</span>
                <span class="proffesion">Israeli Mall</span>
            </div>
        </div>
        <i class='bx bxs-right-arrow toggle'></i>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <li class="search-box">
                <i class='bx bx-search-alt icon'></i>
                <input type="search" placeholder="Search..."></input>
            </li>
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="http://localhost:7016/Catalog/StartPage">
                        <i class='bx bxs-home-smile icon'></i>
                        <span class="text nav-text"> Home</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="http://localhost:7016/Catalog/GetStoreCatalog">
                        <i class='bx bx-store icon'></i>
                        <span class="text nav-text"> Stores</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bxs-registered icon'></i>
                        <span class="text nav-text"> Brands</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bxs-badge-dollar icon'></i>
                        <span class="text nav-text"> On Sale</span>
                    </a>
                </li>
                @if(TempData["id"] != null)
                {
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-cart-alt icon'></i>
                            <span class="text nav-text"> My Cart</span>
                        </a>
                    </li>
                }              
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-user-circle icon'></i>
                        <span class="text nav-text"> Log In / Sign In</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="bottom-content">
            <li class="">
                <a href="#">
                    <i class='bx bx-log-out icon'></i>
                    <span class="text nav-text"> Log Out</span>
                </a>
            </li>
        </div>
    </div>
    <div class="ContentHandle">
        @RenderBody()
    </div>
</nav>