*{
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    background: white;
}

.UpperDiv{
    width: 300px;
    height: 250px;
    margin: none;
}

.img{
    width: 290px;
    height: 250px;
    margin: none;
    transition: transform 0.2s, box-shadow 0.2s;
}
.StoreHandle{
    border: 5px solid black;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.LowerDiv{
    display: flex;
    justify-content: center;
    align-items: flex-start;  
    border-top: 5px solid black;
    background-image: linear-gradient(to right, #00FFFF, #000080);
}

.StoreHandle:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    border: 5px solid black;
    border-color: black;
}

.StoreHandle .LowerDiv:hover{
    border-radius: 5px solid black;
}

body{
    margin: 20px 20px 20px 20px;
}

button {
    background-image: linear-gradient(to right, #00FFFF, #1100BB);
    border-radius: 20px;
    border: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    padding: 10px 25px;
}
button:active{
    opacity: 0.8;
}

.modal{
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;   
}

.modal.open{
    opacity: 1;
    z-index: 999;
}

.modal-inner{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    text-align: center;
    width: 550px;
    height: 400px;
    
}


.Content{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.modal-inner h2{
    margin-top: 1px;
}


.modal-inner.image{
    bottom: 20px;
    top: 20px;
    left: 5px;

}

.modal-inner p{
    line-height: 24px;
    margin: 10px 0;
}